form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: clamp(300px, 70%, 1000px);
  height: auto;
  background-color: rgb(72, 72, 72);
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #333;
  color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #f00;
}

button[type="submit"] {
  background-color: #f00;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
}

input[type="file"]::file-selector-button {
  background-color: #f00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}


.small-preview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.small-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #fff;
}

.alert {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

::placeholder {
  color: #aaa; 
}








































