.cardsContainer{
    display: flex;
    flex-direction: row;
    gap: 30px 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

